* {padding:0px;margin:0px;}

strong {
	color:white; 
	font-size:25px; 
	font-family: Garamond, Serif;
	text-align: center;
}

body {font-family: Garamond, Serif;
font-size:20px;
padding-bottom:15px;
/*color: #333333*/
background-image:url('http://media3.giphy.com/media/fJ1eCBjmMoEvu/giphy.gif');
background-position: center;
background-size: cover;
}


#background{
    /* position: absolute; */
	margin-left:auto;
	margin-right:auto;
    background-repeat: no-repeat;
	padding-top:20px;
	 
}
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
	}

#container{
	width:770px;
	margin-right: auto;
	margin-left: auto;
	border-right:solid 1px #333333;
	border-left:solid 1px #333333;
	/* background: url(); */
	background-color: green;
}

.header{
	background: url(http://cdn.pcwallart.com/images/plain-green-background-wallpaper-3.jpg) repeat-x;
	height: 90px;
	 Width:100%;
	 margin:auto;
	
}

#pParagraph {background: url(http://cdn.pcwallart.com/images/plain-green-background-wallpaper-3.jpg) repeat-x;
             width:100%;
	 margin: auto;}

#header h1{
	text-indent:-99999px;
	background: url(http://cdn.pcwallart.com/images/plain-green-background-wallpaper-3.jpg) no-repeat left top;
	height: 72px;
	width: 514px;
	margin-left: 55px;
	align:center;
}

#header h2{
	text-indent:-99999px;
	background: url(http://cdn.pcwallart.com/images/plain-green-background-wallpaper-3.jpg) no-repeat left top;
	height: 72px;
	width: 514px;
	margin-left: 55px;
}

#headerCurriculum {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	background-color: green;
	margin-bottom: 10px;}
	
	#name {
	float:left;
	margin-left: 5px;
	padding-top: 15px;
	font-size: 25px;
	font-family: Garamond, serif;
	color: white;
	}
	
	.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 600px;
	height: 600px;
	background-color: green;
	margin-bottom: 10px;
}

.right {
	/*position: relative;*/
	float: left;
	margin-top: 50px;
	width: 88%;
	height: 1100px;
	background-color: green;
	margin-bottom: 10px;
	width:770px;
	margin-right: auto;
	margin-left: auto;
}

.curriculumInfo {list-style: none;
margin-bottom: 20px;
}

#menu{
	background: url(http://cdn.pcwallart.com/images/plain-green-background-wallpaper-3.jpg) repeat-x;
	height: 200x;
}
#menu ul{
	list-style: none;
	margin-left:20px;
}

#menu ol {list-style: none;
          margin-left:20px;}
#menu2{
	background: url(http://cdn.pcwallart.com/images/plain-green-background-wallpaper-3.jpg) repeat-x;
	height: 200px;
}

#menu2 ul {list-style: none;
	margin-left:20px;}
	
#menu2 ol {list-style: none;
	margin-left:20px;}

	#menu3{
	background: url(http://cdn.pcwallart.com/images/plain-green-background-wallpaper-3.jpg) repeat-x;
	height: 150x;
}

#menu3 ul {list-style: none;
	margin-left:20px;}
	
#bottom{ background: url (http://cdn.pcwallart.com/images/plain-green-background-wallpaper-3.jpg) repeat-x;
        height:200px;
        margin:auto;
        width:100%;		
		}
#bottom ul {list-style:none;
           margin-left:20px;}
p {
	color:white;
	text-align:center;
}

h2 {
	color:white;
	text-align:center;
}

h3 {
	color:white;
}
li {
	color:white;
}
a {
    color:white;
}
img{
	align:middle;
}
